# ACS cleaning code for years 2009-2019 #

This code is to extract and clean the ACS data at the census tract level for NYC

The ACS 5-year estimates datasets were downloaded from socialexplorer.com

In [1]:
import pandas as pd
import numpy as np
import os
import glob

os. getcwd()

'G:\\My Drive\\PhD Program\\4_Spring 2022\\Machine Learning for Cities\\machine-learning-final\\code'

In [2]:
fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"

year = str(2009)
filename = "1_raw_data/census_acs/ACS"+str(year)+".txt"
data = pd.read_csv(fp+filename, sep='\t')
data2 = data[["Geo_FIPS", "SE_A00001_001", "SE_A00002_002", "SE_A00002_003", "SE_A02001_002", 
              "SE_A02001_003", "SE_B01001_002", "SE_B01001_003", "SE_B01001_004", "SE_B01001_005",
              "SE_A04001_010", "SE_A04001_003", "SE_A04001_004", "SE_A04001_005", "SE_A04001_006",
              "SE_A04001_007", "SE_A04001_008", "SE_A04001_009", "SE_A10060_001", "SE_A10060_002", 
              "SE_A10060_003", "SE_A10028_002", "SE_A10028_003", "SE_A10028_004", "SE_A10028_005", 
              "SE_A10028_006", "SE_A10046B_002", "SE_A10046B_003", "SE_A10046B_004", "SE_A10046B_005", 
              "SE_A10046B_006", "SE_A10057_001", "SE_A18009_001", "SE_A14006_001", "SE_A14028_001"]]

In [3]:
data2.head()

,Geo_FIPS,SE_A00001_001,SE_A00002_002,SE_A00002_003,SE_A02001_002,SE_A02001_003,SE_B01001_002,SE_B01001_003,SE_B01001_004,SE_B01001_005,...,SE_A10028_006,SE_A10046B_002,SE_A10046B_003,SE_A10046B_004,SE_A10046B_005,SE_A10046B_006,SE_A10057_001,SE_A18009_001,SE_A14006_001,SE_A14028_001
0,36005000100,11355,17588.760,0.645583,10175,1180,471,6004,4847,33,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,36005000200,4257,24460.300,0.174037,2063,2194,1275,1033,1634,315,...,0,130,296,51,14,0,1947.0,1328.0,55797.0,0.353
2,36005000400,4625,16518.510,0.279989,2275,2350,1147,1176,1971,331,...,0,206,311,0,0,0,1973.0,1430.0,70486.0,0.380
3,36005000500,0,0.000,0.031438,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,36005001100,572,3492.311,0.163788,255,317,200,57,265,50,...,0,68,187,15,13,0,1996.0,569.0,8554.0,0.593

In [4]:
data2.rename(columns = {"Geo_FIPS": "geofips",
                        "SE_A00001_001": "totpop",
                        "SE_A00002_002": "popdens",
                        "SE_A00002_003": "areasqmile",
                        'SE_A02001_002': "males",
                        'SE_A02001_003': "females",
                        "SE_B01001_002": "pop18under",
                        "SE_B01001_003": "pop18_34",
                        "SE_B01001_004": "pop35_64",
                        "SE_B01001_005": "pop65plus",
                        "SE_A04001_003": "popnhwhite",
                        "SE_A04001_004": "popnhblack",
                        "SE_A04001_005": "popnhaian",
                        "SE_A04001_006": "popnhasian",
                        "SE_A04001_007": "popnhhawainpi",
                        "SE_A04001_008": "popnhother",
                        "SE_A04001_009": "popnhtwoplus",
                        "SE_A04001_010": "pophispanic",
                        "SE_A10060_001": "housing",
                        "SE_A10060_002": "housingoccupied",
                        "SE_A10060_003": "renterhousing",
                        "SE_A10028_002": "oc_halfless", 
                        "SE_A10028_003": "oc_half_1", 
                        "SE_A10028_004": "oc_1_onehalf",
                        "SE_A10028_005": "oc_onehalf_2",
                        "SE_A10028_006": "oc_2plus",
                        "SE_A10046B_002": "roc_halfless",
                        "SE_A10046B_003": "roc_half_1",
                        "SE_A10046B_004": "roc_1_onehalf",
                        "SE_A10046B_005": "roc_onehalf_2", 
                        "SE_A10046B_006": "roc_2plus",
                        "SE_A10057_001": "medianyearbuilt",
                        "SE_A18009_001": "mediangrossrent",
                        "SE_A14006_001": "medianhhincome",
                        "SE_A14028_001": "gini"}, inplace = True)

data2["year"] = year

C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\1931189716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\1931189716.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year

In [5]:
data2.head()

,geofips,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,pop65plus,...,roc_halfless,roc_half_1,roc_1_onehalf,roc_onehalf_2,roc_2plus,medianyearbuilt,mediangrossrent,medianhhincome,gini,year
0,36005000100,11355,17588.760,0.645583,10175,1180,471,6004,4847,33,...,0,0,0,0,0,NaN,NaN,NaN,NaN,2009
1,36005000200,4257,24460.300,0.174037,2063,2194,1275,1033,1634,315,...,130,296,51,14,0,1947.0,1328.0,55797.0,0.353,2009
2,36005000400,4625,16518.510,0.279989,2275,2350,1147,1176,1971,331,...,206,311,0,0,0,1973.0,1430.0,70486.0,0.380,2009
3,36005000500,0,0.000,0.031438,0,0,0,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,2009
4,36005001100,572,3492.311,0.163788,255,317,200,57,265,50,...,68,187,15,13,0,1996.0,569.0,8554.0,0.593,2009

In [6]:
#create a loop to extract the same variables as above for subsequent years

for year in range(2009, 2020):
    filename = "1_raw_data/census_acs/ACS"+str(year)+".txt"
    print("Reading in file: " + filename)
    fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"
    data = pd.read_csv(fp+filename, sep='\t')
  
 #Keep only variables we are interested
    data2 = data[["Geo_FIPS", "SE_A00001_001", "SE_A00002_002", "SE_A00002_003", "SE_A02001_002", 
              "SE_A02001_003", "SE_B01001_002", "SE_B01001_003", "SE_B01001_004", "SE_B01001_005",
              "SE_A04001_010", "SE_A04001_003", "SE_A04001_004", "SE_A04001_005", "SE_A04001_006",
              "SE_A04001_007", "SE_A04001_008", "SE_A04001_009", "SE_A10060_001", "SE_A10060_002", 
              "SE_A10060_003", "SE_A10028_002", "SE_A10028_003", "SE_A10028_004", "SE_A10028_005", 
              "SE_A10028_006", "SE_A10046B_002", "SE_A10046B_003", "SE_A10046B_004", "SE_A10046B_005", 
              "SE_A10046B_006", "SE_A10057_001", "SE_A18009_001", "SE_A14006_001", "SE_A14028_001"]]
  
 #Rename variables
    data2.rename(columns = {"Geo_FIPS": "geofips",
                        "SE_A00001_001": "totpop",
                        "SE_A00002_002": "popdens",
                        "SE_A00002_003": "areasqmile",
                        'SE_A02001_002': "males",
                        'SE_A02001_003': "females",
                        "SE_B01001_002": "pop18under",
                        "SE_B01001_003": "pop18_34",
                        "SE_B01001_004": "pop35_64",
                        "SE_B01001_005": "pop65plus",
                        "SE_A04001_003": "popnhwhite",
                        "SE_A04001_004": "popnhblack",
                        "SE_A04001_005": "popnhaian",
                        "SE_A04001_006": "popnhasian",
                        "SE_A04001_007": "popnhhawainpi",
                        "SE_A04001_008": "popnhother",
                        "SE_A04001_009": "popnhtwoplus",
                        "SE_A04001_010": "pophispanic",
                        "SE_A10060_001": "housing",
                        "SE_A10060_002": "housingoccupied",
                        "SE_A10060_003": "renterhousing",
                        "SE_A10028_002": "oc_halfless", 
                        "SE_A10028_003": "oc_half_1", 
                        "SE_A10028_004": "oc_1_onehalf",
                        "SE_A10028_005": "oc_onehalf_2",
                        "SE_A10028_006": "oc_2plus",
                        "SE_A10046B_002": "roc_halfless",
                        "SE_A10046B_003": "roc_half_1",
                        "SE_A10046B_004": "roc_1_onehalf",
                        "SE_A10046B_005": "roc_onehalf_2", 
                        "SE_A10046B_006": "roc_2plus",
                        "SE_A10057_001": "medianyearbuilt",
                        "SE_A18009_001": "mediangrossrent",
                        "SE_A14006_001": "medianhhincome",
                        "SE_A14028_001": "gini"}, inplace = True)
    data2["year"] = year  #Add a column for the year of the ACS
    fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"
    # Write to a csv file
    data2.to_csv(fp+"2_intermediate_data/census_acs/"+"ACSclean_"+str(year)+".csv")

    print("Done!")

C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",

Reading in file: 1_raw_data/census_acs/ACS2009.txt

C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS

Done!
Reading in file: 1_raw_data/census_acs/ACS2010.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2011.txt

C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS

Done!
Reading in file: 1_raw_data/census_acs/ACS2012.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2013.txt

C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",

Done!
Reading in file: 1_raw_data/census_acs/ACS2014.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2015.txt

C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",

Done!
Reading in file: 1_raw_data/census_acs/ACS2016.txt
Done!
Reading in file: 1_raw_data/census_acs/ACS2017.txt

C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS

Done!
Reading in file: 1_raw_data/census_acs/ACS2018.txt

C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",

Done!
Reading in file: 1_raw_data/census_acs/ACS2019.txt
Done!

C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2409759302.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2["year"] = year  #Add a column for the year of the ACS

In [7]:
#Append datafiles
fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"  # use your path
all_files = glob.glob(os.path.join(fp+"2_intermediate_data/census_acs/", "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_acs   = pd.concat(df_from_each_file, ignore_index=True)
# doesn't create a list, nor does it append to one

In [8]:
concatenated_acs.head()

,Unnamed: 0,geofips,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,...,roc_halfless,roc_half_1,roc_1_onehalf,roc_onehalf_2,roc_2plus,medianyearbuilt,mediangrossrent,medianhhincome,gini,year
0,0,36005000100,11355,17588.760,0.645583,10175,1180,471,6004,4847,...,0,0,0,0,0,NaN,NaN,NaN,NaN,2009
1,1,36005000200,4257,24460.300,0.174037,2063,2194,1275,1033,1634,...,130,296,51,14,0,1947.0,1328.0,55797.0,0.353,2009
2,2,36005000400,4625,16518.510,0.279989,2275,2350,1147,1176,1971,...,206,311,0,0,0,1973.0,1430.0,70486.0,0.380,2009
3,3,36005000500,0,0.000,0.031438,0,0,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,2009
4,4,36005001100,572,3492.311,0.163788,255,317,200,57,265,...,68,187,15,13,0,1996.0,569.0,8554.0,0.593,2009

In [9]:
list(concatenated_acs.columns)

['Unnamed: 0',
 'geofips',
 'totpop',
 'popdens',
 'areasqmile',
 'males',
 'females',
 'pop18under',
 'pop18_34',
 'pop35_64',
 'pop65plus',
 'pophispanic',
 'popnhwhite',
 'popnhblack',
 'popnhaian',
 'popnhasian',
 'popnhhawainpi',
 'popnhother',
 'popnhtwoplus',
 'housing',
 'housingoccupied',
 'renterhousing',
 'oc_halfless',
 'oc_half_1',
 'oc_1_onehalf',
 'oc_onehalf_2',
 'oc_2plus',
 'roc_halfless',
 'roc_half_1',
 'roc_1_onehalf',
 'roc_onehalf_2',
 'roc_2plus',
 'medianyearbuilt',
 'mediangrossrent',
 'medianhhincome',
 'gini',
 'year']

In [10]:
#create proportion variables
concatenated_acs['pctmale']= (concatenated_acs['males'] / concatenated_acs['totpop'])*100
concatenated_acs['pct18under']= (concatenated_acs['pop18under'] / concatenated_acs['totpop'])*100
concatenated_acs['pct18_34']= (concatenated_acs['pop18_34'] / concatenated_acs['totpop'])*100
concatenated_acs['pct35_64']= (concatenated_acs['pop35_64'] / concatenated_acs['totpop'])*100
concatenated_acs['pct65plus']= (concatenated_acs['pop65plus'] / concatenated_acs['totpop'])*100
concatenated_acs['pcthispanic']= (concatenated_acs['pophispanic'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhwhite']= (concatenated_acs['popnhwhite'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhblack']= (concatenated_acs['popnhblack'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhaian']= (concatenated_acs['popnhaian'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhasian']= (concatenated_acs['popnhasian'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhhawainpi']= (concatenated_acs['popnhhawainpi'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhother']= (concatenated_acs['popnhother'] / concatenated_acs['totpop'])*100
concatenated_acs['pctnhtwoplus']= (concatenated_acs['popnhtwoplus'] / concatenated_acs['totpop'])*100

#proprotion of housing units owner and renter occupied
concatenated_acs['pctownerocch']= (concatenated_acs['housingoccupied'] / concatenated_acs['housing'])*100
concatenated_acs['pctrentocch']= (concatenated_acs['renterhousing'] / concatenated_acs['housing'])*100

#crowding as a proportion
concatenated_acs['crowding']= ((concatenated_acs['oc_1_onehalf']+concatenated_acs['oc_onehalf_2']+concatenated_acs['oc_2plus']) / concatenated_acs['housing'])*100
concatenated_acs['crowdingrenter']= ((concatenated_acs['roc_1_onehalf']+concatenated_acs['roc_onehalf_2']+concatenated_acs['roc_2plus']) / concatenated_acs['renterhousing'])*100

concatenated_acs.head()

,Unnamed: 0,geofips,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,...,pctnhblack,pctnhaian,pctnhasian,pctnhhawainpi,pctnhother,pctnhtwoplus,pctownerocch,pctrentocch,crowding,crowdingrenter
0,0,36005000100,11355,17588.760,0.645583,10175,1180,471,6004,4847,...,55.147512,0.070454,1.796565,0.0,0.264201,1.056803,NaN,NaN,NaN,NaN
1,1,36005000200,4257,24460.300,0.174037,2063,2194,1275,1033,1634,...,24.054498,0.000000,0.000000,0.0,0.446324,0.164435,60.146104,39.853896,10.876623,13.238289
2,2,36005000400,4625,16518.510,0.279989,2275,2350,1147,1176,1971,...,17.081081,0.000000,1.837838,0.0,1.102703,1.902703,61.816839,38.183161,5.169867,0.000000
3,3,36005000500,0,0.000,0.031438,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,36005001100,572,3492.311,0.163788,255,317,200,57,265,...,36.013986,3.846154,0.000000,0.0,0.000000,0.000000,0.000000,100.000000,9.893993,9.893993

In [11]:
#save appended to a .csv file
fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"
concatenated_acs.to_csv(fp+"2_intermediate_data/"+"acs_2009_2019"+".csv")

## Add new fuel and mobility variables

In [12]:
fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/1_raw_data/census_acs"
data = pd.read_csv(fp+"/acs_househeatingfuel_moving.csv")

In [13]:
data2 = data[["Geo_FIPS", "Geo_QName", "SE_A10034_001", "SE_A10034_002", "SE_A10034_003", "SE_A10034_004",
               "SE_A10034_005", "SE_A10034_006", "SE_A10034_007", "SE_A10034_008", "SE_A08002B_007", "SE_A08002B_001", 
               "SE_A08002B_002", "SE_A08002B_003", "SE_A08002B_004", "SE_A08002B_005", "SE_A08002B_006"]]

In [14]:
data2

,Geo_FIPS,Geo_QName,SE_A10034_001,SE_A10034_002,SE_A10034_003,SE_A10034_004,SE_A10034_005,SE_A10034_006,SE_A10034_007,SE_A10034_008,SE_A08002B_007,SE_A08002B_001,SE_A08002B_002,SE_A08002B_003,SE_A08002B_004,SE_A08002B_005,SE_A08002B_006
0,36005000100,"Census Tract 1, Bronx County, New York",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,36005000200,"Census Tract 2, Bronx County, New York",1342,1007,155,180,0,0,0,0,4515,2161,2116,13,12,20,0
2,36005000400,"Census Tract 4, Bronx County, New York",2042,1399,342,287,0,0,0,14,5450,952,952,0,0,0,0
3,36005001600,"Census Tract 16, Bronx County, New York",1971,795,256,837,0,0,0,83,5561,4798,4613,97,50,13,25
4,36005001900,"Census Tract 19, Bronx County, New York",1079,473,249,280,0,0,44,33,2655,2266,2013,76,119,51,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2162,36085030302,"Census Tract 303.02, Richmond County, New York",1981,1820,97,43,21,0,0,0,6594,1929,1913,16,0,0,0
2163,36085031901,"Census Tract 319.01, Richmond County, New York",1051,975,18,58,0,0,0,0,2792,1473,1455,18,0,0,0
2164,36085031902,"Census Tract 319.02, Richmond County, New York",1641,1473,92,35,0,30,0,11,5255,2478,2417,38,7,0,16
2165,36085032300,"Census Tract 323, Richmond County, New York",451,401,46,4,0,0,0,0,1073,232,232,0,0,0,0
2166,36085990100,"Census Tract 9901, Richmond County, New York",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
# Proportion of occupied housing units by type of fuel used
data2['pcthgas']= (data2['SE_A10034_002'] / data2['SE_A10034_001'])*100
data2['pcthelectricity']= (data2['SE_A10034_003'] / data2['SE_A10034_001'])*100
data2['pcthoilker']= (data2['SE_A10034_004'] / data2['SE_A10034_001'])*100
data2['pcthcoal']= (data2['SE_A10034_005'] / data2['SE_A10034_001'])*100
data2['pcthsolar']= (data2['SE_A10034_006'] / data2['SE_A10034_001'])*100
data2['pcthotherf']= (data2['SE_A10034_007'] / data2['SE_A10034_001'])*100
data2['pcthnofuel']= (data2['SE_A10034_008'] / data2['SE_A10034_001'])*100

#Population mobility
data2['pctsamehouse']= (data2['SE_A08002B_002'] / data2['SE_A08002B_001'])*100
data2['pctmvdsamecounty']= (data2['SE_A08002B_003'] / data2['SE_A08002B_001'])*100
data2['pctmvdsdiffcounty']= (data2['SE_A08002B_004'] / data2['SE_A08002B_001'])*100
data2['pctmvdsdiffstate']= (data2['SE_A08002B_005'] / data2['SE_A08002B_001'])*100
data2['pctmvdabroad']= (data2['SE_A08002B_006'] / data2['SE_A08002B_001'])*100


#Population 1 Year and Over in Households in the United States:
data2['pop1yrplusinhh']= (data2['SE_A08002B_007'])
data2['pctpoprenterhh']= (data2['SE_A10034_001'])/(data2['SE_A08002B_007'])

C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pcthgas']= (data2['SE_A10034_002'] / data2['SE_A10034_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pcthelectricity']= (data2['SE_A10034_003'] / data2['SE_A10034_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pcthoilker']= (data2['SE_A10034_004'] / data2['SE_A10034_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pcthcoal']= (data2['SE_A10034_005'] / data2['SE_A10034_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pcthsolar']= (data2['SE_A10034_006'] / data2['SE_A10034_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pcthotherf']= (data2['SE_A10034_007'] / data2['SE_A10034_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pcthnofuel']= (data2['SE_A10034_008'] / data2['SE_A10034_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pctsamehouse']= (data2['SE_A08002B_002'] / data2['SE_A08002B_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pctmvdsamecounty']= (data2['SE_A08002B_003'] / data2['SE_A08002B_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pctmvdsdiffcounty']= (data2['SE_A08002B_004'] / data2['SE_A08002B_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pctmvdsdiffstate']= (data2['SE_A08002B_005'] / data2['SE_A08002B_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pctmvdabroad']= (data2['SE_A08002B_006'] / data2['SE_A08002B_001'])*100
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pop1yrplusinhh']= (data2['SE_A08002B_007'])
C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2405657536.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['pctpoprenterhh']= (data2['SE_A10034_001'])/(data2['SE_A08002B_007'])

In [16]:
 data3 = data2[["Geo_FIPS", 'pcthgas', 'pcthelectricity', 'pcthoilker', 'pcthcoal', 'pcthsolar', 'pcthotherf',
               'pcthnofuel', 'pctsamehouse', 'pctmvdsamecounty', 'pctmvdsdiffcounty', 'pctmvdsdiffstate',
               'pctmvdabroad', 'pop1yrplusinhh', 'pctpoprenterhh']]

In [17]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2167 entries, 0 to 2166
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geo_FIPS           2167 non-null   int64
 1   pcthgas            2116 non-null   float64
 2   pcthelectricity    2116 non-null   float64
 3   pcthoilker         2116 non-null   float64
 4   pcthcoal           2116 non-null   float64
 5   pcthsolar          2116 non-null   float64
 6   pcthotherf         2116 non-null   float64
 7   pcthnofuel         2116 non-null   float64
 8   pctsamehouse       2110 non-null   float64
 9   pctmvdsamecounty   2110 non-null   float64
 10  pctmvdsdiffcounty  2110 non-null   float64
 11  pctmvdsdiffstate   2110 non-null   float64
 12  pctmvdabroad       2110 non-null   float64
 13  pop1yrplusinhh     2167 non-null   int64
 14  pctpoprenterhh     2116 non-null   float64
dtypes: float64(13), int64(2)
memory usage: 254.1 KB

In [18]:
#save new data to .csv file
fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"
data3.to_csv(fp+"2_intermediate_data/"+"acs_2019_fuel_mobility"+".csv")

### Create a merged file for Census 2019 for Kai

In [19]:
fp = r"G:/.shortcut-targets-by-id/1hgVHDpl_iZ7es6sKW0QRlC9X6SF58wk7/Machine Learning 4 Cities Final Project/Data/"
acs = pd.read_csv(fp+"/2_intermediate_data/acs_2009_2019.csv").drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)
acs= acs.loc[acs['year']==2019] #restrict only to 2019
acs.head()

,geofips,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,pop65plus,...,pctnhblack,pctnhaian,pctnhasian,pctnhhawainpi,pctnhother,pctnhtwoplus,pctownerocch,pctrentocch,crowding,crowdingrenter
21721,36005000100,6864,10599.550,0.647574,6345,519,103,3322,3392,47,...,52.462121,0.262238,2.636946,0.0,0.276807,0.509907,NaN,NaN,NaN,NaN
21722,36005000200,4532,24481.190,0.185122,2193,2339,1134,862,1605,931,...,20.300088,0.000000,1.654898,0.0,1.323919,0.000000,52.459016,47.540984,11.997019,18.181818
21723,36005000400,5516,18537.140,0.297565,2810,2706,1071,1319,2362,764,...,22.915156,0.000000,2.193619,0.0,0.163162,1.341552,79.040157,20.959843,1.860921,4.906542
21724,36005001600,5825,31101.490,0.187290,2422,3403,1546,1399,1978,902,...,34.695279,0.000000,1.098712,0.0,0.858369,0.429185,12.430238,87.569762,11.415525,12.514484
21725,36005001900,3141,4877.152,0.644023,1583,1558,898,1052,1111,80,...,29.831264,0.000000,2.292264,0.0,0.700414,1.782872,10.565338,89.434662,9.638554,10.777202

In [20]:
acs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2167 entries, 21721 to 23887
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   geofips          2167 non-null   int64
 1   totpop           2167 non-null   int64
 2   popdens          2164 non-null   float64
 3   areasqmile       2167 non-null   float64
 4   males            2167 non-null   int64
 5   females          2167 non-null   int64
 6   pop18under       2167 non-null   int64
 7   pop18_34         2167 non-null   int64
 8   pop35_64         2167 non-null   int64
 9   pop65plus        2167 non-null   int64
 10  pophispanic      2167 non-null   int64
 11  popnhwhite       2167 non-null   int64
 12  popnhblack       2167 non-null   int64
 13  popnhaian        2167 non-null   int64
 14  popnhasian       2167 non-null   int64
 15  popnhhawainpi    2167 non-null   int64
 16  popnhother       2167 non-null   int64
 17  popnhtwoplus     2167 non-null   int64
 18  housing          2167 non-null   int64
 19  housingoccupied  2167 non-null   int64
 20  renterhousing    2167 non-null   int64
 21  oc_halfless      2167 non-null   int64
 22  oc_half_1        2167 non-null   int64
 23  oc_1_onehalf     2167 non-null   int64
 24  oc_onehalf_2     2167 non-null   int64
 25  oc_2plus         2167 non-null   int64
 26  roc_halfless     2167 non-null   int64
 27  roc_half_1       2167 non-null   int64
 28  roc_1_onehalf    2167 non-null   int64
 29  roc_onehalf_2    2167 non-null   int64
 30  roc_2plus        2167 non-null   int64
 31  medianyearbuilt  2101 non-null   float64
 32  mediangrossrent  2093 non-null   float64
 33  medianhhincome   2095 non-null   float64
 34  gini             2108 non-null   float64
 35  year             2167 non-null   int64
 36  pctmale          2124 non-null   float64
 37  pct18under       2124 non-null   float64
 38  pct18_34         2124 non-null   float64
 39  pct35_64         2124 non-null   float64
 40  pct65plus        2124 non-null   float64
 41  pcthispanic      2124 non-null   float64
 42  pctnhwhite       2124 non-null   float64
 43  pctnhblack       2124 non-null   float64
 44  pctnhaian        2124 non-null   float64
 45  pctnhasian       2124 non-null   float64
 46  pctnhhawainpi    2124 non-null   float64
 47  pctnhother       2124 non-null   float64
 48  pctnhtwoplus     2124 non-null   float64
 49  pctownerocch     2116 non-null   float64
 50  pctrentocch      2116 non-null   float64
 51  crowding         2116 non-null   float64
 52  crowdingrenter   2110 non-null   float64
dtypes: float64(23), int64(30)
memory usage: 914.2 KB

In [21]:
data2

,Geo_FIPS,Geo_QName,SE_A10034_001,SE_A10034_002,SE_A10034_003,SE_A10034_004,SE_A10034_005,SE_A10034_006,SE_A10034_007,SE_A10034_008,...,pcthsolar,pcthotherf,pcthnofuel,pctsamehouse,pctmvdsamecounty,pctmvdsdiffcounty,pctmvdsdiffstate,pctmvdabroad,pop1yrplusinhh,pctpoprenterhh
0,36005000100,"Census Tract 1, Bronx County, New York",0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,36005000200,"Census Tract 2, Bronx County, New York",1342,1007,155,180,0,0,0,0,...,0.000000,0.00000,0.000000,97.917631,0.601573,0.555298,0.925497,0.000000,4515,0.297231
2,36005000400,"Census Tract 4, Bronx County, New York",2042,1399,342,287,0,0,0,14,...,0.000000,0.00000,0.685602,100.000000,0.000000,0.000000,0.000000,0.000000,5450,0.374679
3,36005001600,"Census Tract 16, Bronx County, New York",1971,795,256,837,0,0,0,83,...,0.000000,0.00000,4.211060,96.144227,2.021676,1.042101,0.270946,0.521050,5561,0.354433
4,36005001900,"Census Tract 19, Bronx County, New York",1079,473,249,280,0,0,44,33,...,0.000000,4.07785,3.058387,88.834951,3.353928,5.251545,2.250662,0.308914,2655,0.406403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2162,36085030302,"Census Tract 303.02, Richmond County, New York",1981,1820,97,43,21,0,0,0,...,0.000000,0.00000,0.000000,99.170555,0.829445,0.000000,0.000000,0.000000,6594,0.300425
2163,36085031901,"Census Tract 319.01, Richmond County, New York",1051,975,18,58,0,0,0,0,...,0.000000,0.00000,0.000000,98.778004,1.221996,0.000000,0.000000,0.000000,2792,0.376433
2164,36085031902,"Census Tract 319.02, Richmond County, New York",1641,1473,92,35,0,30,0,11,...,1.828154,0.00000,0.670323,97.538337,1.533495,0.282486,0.000000,0.645682,5255,0.312274
2165,36085032300,"Census Tract 323, Richmond County, New York",451,401,46,4,0,0,0,0,...,0.000000,0.00000,0.000000,100.000000,0.000000,0.000000,0.000000,0.000000,1073,0.420317
2166,36085990100,"Census Tract 9901, Richmond County, New York",0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [22]:
#Rename variables
data2.rename(columns = {"Geo_FIPS": "geofips",
                            "SE_A10034_001":"housingoccupied2",
                            "SE_A10034_002":"hhfgas",
                            "SE_A10034_003":"hhfelectricity", 
                            "SE_A10034_004":"hhfoilkerosene",
                            "SE_A10034_005":"hhfcoalwood",
                            "SE_A10034_006":"hhfsolarenergy", 
                            "SE_A10034_007":"hhfotherfuel",
                            "SE_A10034_008":"hhfnofuel",
                            "SE_A08002B_007":"pop1yearplusinhh", 
                            "SE_A08002B_001":"poprenterhu",
                            "SE_A08002B_002":"popsamehouse",
                            "SE_A08002B_003":"popmvdsamecounty",
                            "SE_A08002B_004":"popmvddiffcounty",
                            "SE_A08002B_005":"popmvdstate",
                            "SE_A08002B_006":"popmvdabroad",}, inplace = True)

C:\Users\rivera30\AppData\Local\Temp\ipykernel_18828\2468206393.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.rename(columns = {"Geo_FIPS": "geofips",

In [23]:
#acs_new = acs_new.rename(columns={'Geo_FIPS': 'geofips'})
acs_new = data2
df_acs2019= pd.merge(acs, acs_new, on=["geofips"])
df_acs2019.head()

,geofips,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,pop65plus,...,pcthsolar,pcthotherf,pcthnofuel,pctsamehouse,pctmvdsamecounty,pctmvdsdiffcounty,pctmvdsdiffstate,pctmvdabroad,pop1yrplusinhh,pctpoprenterhh
0,36005000100,6864,10599.550,0.647574,6345,519,103,3322,3392,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,36005000200,4532,24481.190,0.185122,2193,2339,1134,862,1605,931,...,0.0,0.00000,0.000000,97.917631,0.601573,0.555298,0.925497,0.000000,4515,0.297231
2,36005000400,5516,18537.140,0.297565,2810,2706,1071,1319,2362,764,...,0.0,0.00000,0.685602,100.000000,0.000000,0.000000,0.000000,0.000000,5450,0.374679
3,36005001600,5825,31101.490,0.187290,2422,3403,1546,1399,1978,902,...,0.0,0.00000,4.211060,96.144227,2.021676,1.042101,0.270946,0.521050,5561,0.354433
4,36005001900,3141,4877.152,0.644023,1583,1558,898,1052,1111,80,...,0.0,4.07785,3.058387,88.834951,3.353928,5.251545,2.250662,0.308914,2655,0.406403

In [24]:
df_acs2019['geofips_recode']= df_acs2019['geofips'].astype(str).str[2:]
df_acs2019['geofips_recode']= np.select([df_acs2019['geofips_recode'].str[0:3] == '005',
                                 df_acs2019['geofips_recode'].str[0:3] == '047',
                                 df_acs2019['geofips_recode'].str[0:3] == '061',
                                 df_acs2019['geofips_recode'].str[0:3] == '081',
                                 df_acs2019['geofips_recode'].str[0:3] == '085'],
                                ['2' + df_acs2019['geofips_recode'].str[3:],
                                '3' + df_acs2019['geofips_recode'].str[3:],
                                 '1' + df_acs2019['geofips_recode'].str[3:],
                                 '4' + df_acs2019['geofips_recode'].str[3:],
                                 '5' + df_acs2019['geofips_recode'].str[3:]])

print(df_acs2019.loc[df_acs2019['geofips_recode'].str.len() < 7, 'geofips_recode'].head())
df_acs2019.loc[df_acs2019['geofips_recode'].str.len() < 7, 'geofips_recode']= \
df_acs2019.loc[df_acs2019['geofips_recode'].str.len() < 7, 'geofips_recode'].str.pad(width = 7, fillchar = "0", side = "right")


df_acs2019["geofips_recode"]= df_acs2019["geofips_recode"].str.replace(".0", "", regex = False)

df_acs2019[['geofips_recode', 'geofips']].head()

Series([], Name: geofips_recode, dtype: object)

  geofips_recode      geofips
0        2000100  36005000100
1        2000200  36005000200
2        2000400  36005000400
3        2001600  36005001600
4        2001900  36005001900

In [25]:
df_acs2019.to_csv(fp+"2_intermediate_data/"+"acs_2019only"+".csv")

In [26]:
df_acs2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2167 entries, 0 to 2166
Data columns (total 84 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   geofips            2167 non-null   int64
 1   totpop             2167 non-null   int64
 2   popdens            2164 non-null   float64
 3   areasqmile         2167 non-null   float64
 4   males              2167 non-null   int64
 5   females            2167 non-null   int64
 6   pop18under         2167 non-null   int64
 7   pop18_34           2167 non-null   int64
 8   pop35_64           2167 non-null   int64
 9   pop65plus          2167 non-null   int64
 10  pophispanic        2167 non-null   int64
 11  popnhwhite         2167 non-null   int64
 12  popnhblack         2167 non-null   int64
 13  popnhaian          2167 non-null   int64
 14  popnhasian         2167 non-null   int64
 15  popnhhawainpi      2167 non-null   int64
 16  popnhother         2167 non-null   int64
 17  popnhtwoplus       2167 non-null   int64
 18  housing            2167 non-null   int64
 19  housingoccupied    2167 non-null   int64
 20  renterhousing      2167 non-null   int64
 21  oc_halfless        2167 non-null   int64
 22  oc_half_1          2167 non-null   int64
 23  oc_1_onehalf       2167 non-null   int64
 24  oc_onehalf_2       2167 non-null   int64
 25  oc_2plus           2167 non-null   int64
 26  roc_halfless       2167 non-null   int64
 27  roc_half_1         2167 non-null   int64
 28  roc_1_onehalf      2167 non-null   int64
 29  roc_onehalf_2      2167 non-null   int64
 30  roc_2plus          2167 non-null   int64
 31  medianyearbuilt    2101 non-null   float64
 32  mediangrossrent    2093 non-null   float64
 33  medianhhincome     2095 non-null   float64
 34  gini               2108 non-null   float64
 35  year               2167 non-null   int64
 36  pctmale            2124 non-null   float64
 37  pct18under         2124 non-null   float64
 38  pct18_34           2124 non-null   float64
 39  pct35_64           2124 non-null   float64
 40  pct65plus          2124 non-null   float64
 41  pcthispanic        2124 non-null   float64
 42  pctnhwhite         2124 non-null   float64
 43  pctnhblack         2124 non-null   float64
 44  pctnhaian          2124 non-null   float64
 45  pctnhasian         2124 non-null   float64
 46  pctnhhawainpi      2124 non-null   float64
 47  pctnhother         2124 non-null   float64
 48  pctnhtwoplus       2124 non-null   float64
 49  pctownerocch       2116 non-null   float64
 50  pctrentocch        2116 non-null   float64
 51  crowding           2116 non-null   float64
 52  crowdingrenter     2110 non-null   float64
 53  Geo_QName          2167 non-null   object
 54  housingoccupied2   2167 non-null   int64
 55  hhfgas             2167 non-null   int64
 56  hhfelectricity     2167 non-null   int64
 57  hhfoilkerosene     2167 non-null   int64
 58  hhfcoalwood        2167 non-null   int64
 59  hhfsolarenergy     2167 non-null   int64
 60  hhfotherfuel       2167 non-null   int64
 61  hhfnofuel          2167 non-null   int64
 62  pop1yearplusinhh   2167 non-null   int64
 63  poprenterhu        2167 non-null   int64
 64  popsamehouse       2167 non-null   int64
 65  popmvdsamecounty   2167 non-null   int64
 66  popmvddiffcounty   2167 non-null   int64
 67  popmvdstate        2167 non-null   int64
 68  popmvdabroad       2167 non-null   int64
 69  pcthgas            2116 non-null   float64
 70  pcthelectricity    2116 non-null   float64
 71  pcthoilker         2116 non-null   float64
 72  pcthcoal           2116 non-null   float64
 73  pcthsolar          2116 non-null   float64
 74  pcthotherf         2116 non-null   float64
 75  pcthnofuel         2116 non-null   float64
 76  pctsamehouse       2110 non-null   float64
 77  pctmvdsamecounty   2110 non-null   float64
 78  pctmvdsdiffcounty  2110 non-null   float64
 79  pctmvdsdiffstate   2110 non-null   float64
 80  pctmvdabroad       2110 non-null   float64
 81  pop1yrplusinhh     2167 non-null   int64
 82  pctpoprenterhh     2116 non-null   float64
 83  geofips_recode     2167 non-null   object
dtypes: float64(36), int64(46), object(2)
memory usage: 1.4+ MB