In [82]:
# setup
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt 
import requests
import calendar
import geopandas as gpd
import os.path as os
import scipy.stats
import seaborn.palettes
import seaborn.utils
import sys
#from census import Census
#from us import states
import http.client, urllib.request, urllib.parse, urllib.error, base64

In [83]:
from pydrive.auth import GoogleAuth

gauth = GoogleAuth()
gauth.LocalWebserverAuth() # Creates local webserver and auto handles authentication.

from pydrive.drive import GoogleDrive
drive = GoogleDrive(gauth)

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?client_id=570719947456-53haph7mjc317oel1ujh0kmjbfd499jf.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&response_type=code

Authentication successful.

In [115]:
from pydrive.auth import GoogleAuth

codebk = drive.CreateFile({'id': '1Lf7kV9_R-caFZV6_l8hMxAVjFSVFhvYl'})
codebk.GetContentFile('codebook.xlsx')  

codebk= pd.read_excel('codebook.xlsx', sheet_name = "predictors")
codebk.head()

/Users/bayerd01/opt/anaconda3/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Variable,Description,Source,Notes,Include_BBL,Include_Box
0,geofips,census tract geo identifier,Census ACS,NaN,0.0,0.0
1,geofips_recode,"census tract geo identifier, changes county to...",Census ACS,NaN,0.0,0.0
2,totpop,total population,Census ACS,NaN,1.0,1.0
3,popdens,total population per square mile,Census ACS,NaN,1.0,1.0
4,areasqmile,area,Census ACS,NaN,1.0,1.0

In [116]:
predictors_full = codebk.loc[codebk["Include_BBL"] == 1, "Variable"].apply(lambda x: x.strip())
predictors_full

2             totpop
3            popdens
4         areasqmile
5              males
6            females
           ...
102        assesstot
103        exempttot
104        yearbuilt
105      landuse_cat
106    bldgclass_cat
Name: Variable, Length: 90, dtype: object

In [85]:
# files in clean data google drive
from pydrive.drive import GoogleDrive
drive = GoogleDrive(gauth)
fileList = drive.ListFile({'q': "'1jxSI_nq32-W9kPHKvQkzuNGJ5aIBD2j2' in parents and trashed=false"}).GetList()
for file in fileList:
  print('Title: %s, ID: %s' % (file['title'], file['id']))
  # Get the folder ID that you want
  if(file['title'] == "To Share"):
      fileID = file['id']

Title: analysis_bbl.csv, ID: 1yYX-ROr1c7fzcQiG6NZ1sh7Ko5gqr_4G
Title: analysis_bbl_noacs.csv, ID: 1h-tDpBSslfzqzsJe1ny_ujDnr68RKry3
Title: analysis_box.csv, ID: 1Vzjvta98IG9Hg4SfAGcd8JD8FaF3IXwy
Title: borobox_convex_hull.geojson, ID: 1SzBNj3Ba-v9MEwuCkZT9e9iAwVYUqx8r

## Loading Building Level Analysis File

In [86]:
df_bbl = drive.CreateFile({'id': '1yYX-ROr1c7fzcQiG6NZ1sh7Ko5gqr_4G'})
df_bbl.GetContentFile('analysis_bbl.csv')  

df_bbl= pd.read_csv('analysis_bbl.csv').drop(["Unnamed: 0"], axis = 1)
df_bbl.head()

,lotarea,bldgarea,numbldgs,numfloors,unitsres,unitstotal,assessland,assesstot,exempttot,yearbuilt,...,bldgclass_A0,bldgclass_A6,bldgclass_A8,bldgclass_CM,bbl,boroct2010,vacate_ind,borough,landuse,bldgclass
0,2013.0,5555.0,1.0,4.0,6.0,6.0,345150.0,1317150.0,0.0,1899.0,...,0.0,0.0,0.0,0.0,1012090027,1018100,0.0,MN,2.0,C2
1,2517.0,6895.0,1.0,4.0,10.0,10.0,427500.0,1244700.0,0.0,1891.0,...,0.0,0.0,0.0,0.0,1012090028,1018100,0.0,MN,2.0,C5
2,10570.0,127289.0,1.0,17.0,69.0,69.0,2616300.0,12195900.0,136178.0,1930.0,...,0.0,0.0,0.0,0.0,1012090037,1018100,0.0,MN,3.0,D4
3,3926.0,20358.0,1.0,6.0,25.0,25.0,490500.0,1929600.0,92325.0,1961.0,...,0.0,0.0,0.0,0.0,1012090049,1018100,0.0,MN,3.0,D4
4,5035.0,21258.0,1.0,6.0,12.0,12.0,585000.0,1414350.0,15640.0,1905.0,...,0.0,0.0,0.0,0.0,1012090051,1018100,0.0,MN,3.0,D4

In [87]:
df_bbl= pd.get_dummies(df_bbl, columns=["borough"])
borocols= ["borough_" + x for x in ["BK", "BX", "MN", "QN", "SI"]]

In [88]:
df_bbl

,lotarea,bldgarea,numbldgs,numfloors,unitsres,unitstotal,assessland,assesstot,exempttot,yearbuilt,...,bbl,boroct2010,vacate_ind,landuse,bldgclass,borough_BK,borough_BX,borough_MN,borough_QN,borough_SI
0,2013.0,5555.0,1.0,4.0,6.0,6.0,345150.0,1317150.0,0.0,1899.0,...,1012090027,1018100,0.0,2.0,C2,0,0,1,0,0
1,2517.0,6895.0,1.0,4.0,10.0,10.0,427500.0,1244700.0,0.0,1891.0,...,1012090028,1018100,0.0,2.0,C5,0,0,1,0,0
2,10570.0,127289.0,1.0,17.0,69.0,69.0,2616300.0,12195900.0,136178.0,1930.0,...,1012090037,1018100,0.0,3.0,D4,0,0,1,0,0
3,3926.0,20358.0,1.0,6.0,25.0,25.0,490500.0,1929600.0,92325.0,1961.0,...,1012090049,1018100,0.0,3.0,D4,0,0,1,0,0
4,5035.0,21258.0,1.0,6.0,12.0,12.0,585000.0,1414350.0,15640.0,1905.0,...,1012090051,1018100,0.0,3.0,D4,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765021,781000.0,1264820.0,13.0,17.0,1934.0,1947.0,29880450.0,72655200.0,72655200.0,1950.0,...,1001110100,1002500,0.0,4.0,D6,0,0,1,0,0
765022,23058.0,77910.0,1.0,6.0,36.0,36.0,832500.0,3132900.0,3132900.0,1920.0,...,1003250001,1001002,0.0,2.0,C4,0,0,1,0,0
765023,1206975.0,2948300.0,20.0,14.0,2391.0,2391.0,32398200.0,107938800.0,107938800.0,1962.0,...,1003230001,1001002,0.0,3.0,D3,0,0,1,0,0
765024,693945.0,1658649.0,18.0,14.0,1861.0,1861.0,26999100.0,95624100.0,95624100.0,1950.0,...,1003560001,1002000,0.0,3.0,D3,0,0,1,0,0
765025,298550.0,1231250.0,3.0,2.0,839.0,842.0,8595450.0,39706200.0,1430276.0,1955.0,...,1003210001,1001001,0.0,3.0,D4,0,0,1,0,0

In [89]:
print(df_bbl.columns)

Index(['lotarea', 'bldgarea', 'numbldgs', 'numfloors', 'unitsres',
       'unitstotal', 'assessland', 'assesstot', 'exempttot', 'yearbuilt',
       ...
       'bbl', 'boroct2010', 'vacate_ind', 'landuse', 'bldgclass', 'borough_BK',
       'borough_BX', 'borough_MN', 'borough_QN', 'borough_SI'],
      dtype='object', length=164)

## Part I: Prediction (predictor variables only)

#### Define Predictors

In [98]:
# define predictors
df_bbl.columns
predictors = df_bbl[["totpop", "popdens", "areasqmile", "males", "females","pop18under","pop18_34","pop35_64","pop65plus",
              "pophispanic","popnhwhite","popnhblack","popnhaian","popnhasian","popnhhawainpi","popnhother"
              ,"popnhtwoplus","housing","housingoccupied","renterhousing","oc_halfless","oc_half_1","oc_1_onehalf"
              ,"oc_onehalf_2","oc_2plus","roc_halfless","roc_half_1","roc_1_onehalf","roc_onehalf_2","roc_2plus"
              ,"medianyearbuilt","mediangrossrent","medianhhincome","gini","pct18under","pct18_34","pct35_64"
              ,"pct65plus","pcthispanic","pctnhwhite","pctnhblack","pctnhaian","pctnhasian","pctnhhawainpi"
              ,"pctnhother","pctnhtwoplus","pctownerocch","pctrentocch","crowding","crowdingrenter","pctmale"
              ,"pcthgas","pcthelectricity","pcthoilker",'pcthcoal','pcthsolar','pcthotherf','pcthnofuel'
              ,'pctsamehouse','pctmvdsamecounty','pctmvdsdiffcounty','pctmvdsdiffstate','pctmvdabroad'
              ,'pop1yrplusinhh','pctpoprenterhh','AL','NB','tot_hpd_vio','hpd_fire_vio','hpd_b_c_vio'
              ,'viol_count_per_unit','hpd_fire_vio_per_unit','hpd_b_c_vio_per_unit','average_energy_usage'
              ,'average_energy_usage_mi'
              #,'holc_AB','holc_CD','holc_D' binary columns
              ,'lotarea','bldgarea','numbldgs','numfloors'
              ,'unitsres','unitstotal','assessland','assesstot','exempttot','yearbuilt'
                   #  ,'landuse_cat','bldgclass_cat' categorical
                    ]]

In [117]:
predictors

,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,pop65plus,pophispanic,...,lotarea,bldgarea,numbldgs,numfloors,unitsres,unitstotal,assessland,assesstot,exempttot,yearbuilt
0,8496.0,158948.70,0.053451,4072.0,4424.0,1037.0,2010.0,3202.0,2247.0,1400.0,...,2013.0,5555.0,1.0,4.0,6.0,6.0,345150.0,1317150.0,0.0,1899.0
1,8496.0,158948.70,0.053451,4072.0,4424.0,1037.0,2010.0,3202.0,2247.0,1400.0,...,2517.0,6895.0,1.0,4.0,10.0,10.0,427500.0,1244700.0,0.0,1891.0
2,8496.0,158948.70,0.053451,4072.0,4424.0,1037.0,2010.0,3202.0,2247.0,1400.0,...,10570.0,127289.0,1.0,17.0,69.0,69.0,2616300.0,12195900.0,136178.0,1930.0
3,8496.0,158948.70,0.053451,4072.0,4424.0,1037.0,2010.0,3202.0,2247.0,1400.0,...,3926.0,20358.0,1.0,6.0,25.0,25.0,490500.0,1929600.0,92325.0,1961.0
4,8496.0,158948.70,0.053451,4072.0,4424.0,1037.0,2010.0,3202.0,2247.0,1400.0,...,5035.0,21258.0,1.0,6.0,12.0,12.0,585000.0,1414350.0,15640.0,1905.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765021,5483.0,107977.70,0.050779,2335.0,3148.0,1075.0,1087.0,1803.0,1518.0,1699.0,...,781000.0,1264820.0,13.0,17.0,1934.0,1947.0,29880450.0,72655200.0,72655200.0,1950.0
765022,5157.0,66888.52,0.077098,2367.0,2790.0,944.0,925.0,2092.0,1196.0,3303.0,...,23058.0,77910.0,1.0,6.0,36.0,36.0,832500.0,3132900.0,3132900.0,1920.0
765023,5157.0,66888.52,0.077098,2367.0,2790.0,944.0,925.0,2092.0,1196.0,3303.0,...,1206975.0,2948300.0,20.0,14.0,2391.0,2391.0,32398200.0,107938800.0,107938800.0,1962.0
765024,4586.0,94058.32,0.048757,1675.0,2911.0,1090.0,926.0,1705.0,865.0,2561.0,...,693945.0,1658649.0,18.0,14.0,1861.0,1861.0,26999100.0,95624100.0,95624100.0,1950.0
765025,1546.0,49962.21,0.030943,901.0,645.0,242.0,256.0,662.0,386.0,260.0,...,298550.0,1231250.0,3.0,2.0,839.0,842.0,8595450.0,39706200.0,1430276.0,1955.0

#### Process Data

In [118]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import normalize

In [119]:
#standardize the data
scaler = StandardScaler()
scaled_features = scaler.fit_transform(predictors)

In [102]:
scaled_features

array([[ 2.14046873e+00,  4.33506386e+00, -4.79120016e-01, ...,
         4.05926830e-01, -3.97483528e-02, -5.75460454e-01],
       [ 2.14046873e+00,  4.33506386e+00, -4.79120016e-01, ...,
         3.77512813e-01, -3.97483528e-02, -6.91870205e-01],
       [ 2.14046873e+00,  4.33506386e+00, -4.79120016e-01, ...,
         4.67244147e+00,  6.07152042e-02, -1.24372668e-01],
       ...,
       [ 4.83134496e-01,  1.01980154e+00, -4.02368386e-01, ...,
         4.22216530e+01,  7.95907043e+01,  3.41266336e-01],
       [ 1.99714954e-01,  1.99823776e+00, -4.94356053e-01, ...,
         3.73919760e+01,  7.05056938e+01,  1.66651710e-01],
       [-1.30920870e+00,  4.10252900e-01, -5.52173542e-01, ...,
         1.54616496e+01,  1.01541925e+00,  2.39407804e-01]])

#### Determine Number of Clusters

In [104]:
from sklearn.metrics import silhouette_score
from sklearn.mixture import GaussianMixture

In [112]:

range_n_clusters = range(2,5)


for n_clusters in range_n_clusters:
    clusterer = GaussianMixture(n_components=n_clusters, random_state=100)
    cluster_labels=clusterer.fit_predict(scaled_features)    
    silhouette_avg = silhouette_score(scaled_features, cluster_labels)
    print("For n_clusters = {},".format(n_clusters)+" the average silhouette_score is : {}".format(silhouette_avg))

For n_clusters = 2, the average silhouette_score is : 0.24961571808540126
For n_clusters = 3, the average silhouette_score is : 0.052963832745961274
For n_clusters = 4, the average silhouette_score is : 0.05576843088921439

#### Run Model

In [113]:
gmm = GaussianMixture(n_components=2,random_state=100)
res = gmm.fit(scaled_features)

print('Probabilities of belonging to cluster 1:\n',res.predict_proba(scaled_features)[:,1])
print('\nCluster centers:\n',res.means_)
print('\nCluster covariances:\n',res.covariances_)
print('\nLog-likelihood per sample:',res.score(scaled_features))

Probabilities of belonging to cluster 1:
 [4.48960843e-224 0.00000000e+000 0.00000000e+000 ... 0.00000000e+000
 0.00000000e+000 0.00000000e+000]

Cluster centers:
 [[ 0.56098119  0.95109895 -0.24731348  0.53972459  0.56601095  0.32221055
   0.83087004  0.43732426  0.27163427  0.461133    0.16632701  0.26903247
   0.04498144 -0.04262931  0.03452615 -0.03175074  0.28492843  0.7936162
  -0.22289315  1.12550501  0.6027454   0.82189694  0.43563428  0.62244565
   0.37297688  1.08821294  1.07452076  0.51366658  0.60817466  0.36190089
  -0.25547033  0.12706219 -0.05622135  0.63197245 -0.22257873  0.6575454
  -0.3346584  -0.28861318  0.25073044 -0.03834703  0.02984747 -0.0363177
  -0.24121846 -0.017931   -0.12660352  0.05609895 -0.84259635  0.84259635
   0.19036991  0.02921997 -0.06640355 -0.84842649  0.91404665  0.43960032
  -0.00900581 -0.05764563  0.60940035  0.59248591 -0.18307637  0.00715112
   0.08651361  0.37389528  0.15977072  0.53866023  0.75771665  0.28310381
   0.45342242  0.69909254  0.5532143   0.65251718  0.88944239  0.50700015
   0.80421651  0.02370916 -0.81955855  0.17638218  0.46279665  0.02660005
   1.01903588  0.38719571  0.36488333  0.39824249  0.46474498  0.2038639
  -0.22333188]
 [-0.10304016 -0.17469638  0.04542616 -0.09913578 -0.10396401 -0.05918313
  -0.15261292 -0.08032704 -0.04989336 -0.08470019 -0.03055069 -0.04941547
  -0.00826212  0.00783009 -0.00634171  0.00583193 -0.05233521 -0.14577019
   0.04094067 -0.20673102 -0.11071134 -0.15096476 -0.08001663 -0.11432985
  -0.06850782 -0.19988127 -0.19736631 -0.09434948 -0.11170858 -0.06647339
   0.0469244  -0.02333859  0.01032665 -0.11607972  0.04088292 -0.12077692
   0.06146954  0.05301202 -0.04605378  0.00704352 -0.00548234  0.00667078
   0.04430663  0.00329354  0.02325434 -0.01030417  0.15476679 -0.15476679
  -0.03496685 -0.00536708  0.0121969   0.15583766 -0.16789067 -0.08074511
   0.00165417  0.01058826 -0.11193371 -0.1088269   0.03362718 -0.00131351
  -0.01589069 -0.06867651 -0.02934644 -0.09894028 -0.13917622 -0.05200007
  -0.08328393 -0.12840824 -0.10161355 -0.11985335 -0.1633714  -0.093125
  -0.14771724 -0.00435486  0.15053524 -0.03239761 -0.08500577 -0.00488586
  -0.18717493 -0.07111951 -0.0670212  -0.07314856 -0.08536364 -0.03744541
   0.04102125]]

Cluster covariances:
 [[[ 1.79042945e+00  8.71631663e-01  1.41194231e-01 ...  1.71801842e-01
    8.21702875e-02  7.80635031e-02]
  [ 8.71631663e-01  1.85976112e+00 -3.27317288e-01 ...  3.10079857e-01
    3.93080892e-02 -2.99235277e-02]
  [ 1.41194231e-01 -3.27317288e-01  3.94749912e-01 ... -6.00685380e-02
   -2.87672348e-03  2.54361026e-02]
  ...
  [ 1.71801842e-01  3.10079857e-01 -6.00685380e-02 ...  6.18479656e+00
    3.70933473e+00  1.21680747e-01]
  [ 8.21702875e-02  3.93080892e-02 -2.87672348e-03 ...  3.70933473e+00
    6.39486695e+00  9.98152324e-02]
  [ 7.80635031e-02 -2.99235277e-02  2.54361026e-02 ...  1.21680747e-01
    9.98152324e-02  5.40822650e+00]]

 [[ 7.86395462e-01  6.05320265e-02  3.85771040e-01 ... -7.08135954e-04
    7.13567845e-06  8.39865735e-02]
  [ 6.05320265e-02  6.45409224e-01 -3.82875780e-01 ...  5.65080149e-03
    1.15384192e-04 -1.16971029e-01]
  [ 3.85771040e-01 -3.82875780e-01  1.09787455e+00 ... -3.31076092e-03
   -7.85093734e-05  1.48425084e-01]
  ...
  [-7.08135954e-04  5.65080149e-03 -3.31076092e-03 ...  7.06508558e-04
    3.03871637e-07 -1.84657120e-03]
  [ 7.13567845e-06  1.15384192e-04 -7.85093734e-05 ...  3.03871637e-07
    4.44528824e-05  1.23456959e-04]
  [ 8.39865735e-02 -1.16971029e-01  1.48425084e-01 ... -1.84657120e-03
    1.23456959e-04  1.79460871e-01]]]

Log-likelihood per sample: 59.93562560713684

## Part II: Variable Relationships (including predictor variables)

In [114]:
df_bbl

,lotarea,bldgarea,numbldgs,numfloors,unitsres,unitstotal,assessland,assesstot,exempttot,yearbuilt,...,bbl,boroct2010,vacate_ind,landuse,bldgclass,borough_BK,borough_BX,borough_MN,borough_QN,borough_SI
0,2013.0,5555.0,1.0,4.0,6.0,6.0,345150.0,1317150.0,0.0,1899.0,...,1012090027,1018100,0.0,2.0,C2,0,0,1,0,0
1,2517.0,6895.0,1.0,4.0,10.0,10.0,427500.0,1244700.0,0.0,1891.0,...,1012090028,1018100,0.0,2.0,C5,0,0,1,0,0
2,10570.0,127289.0,1.0,17.0,69.0,69.0,2616300.0,12195900.0,136178.0,1930.0,...,1012090037,1018100,0.0,3.0,D4,0,0,1,0,0
3,3926.0,20358.0,1.0,6.0,25.0,25.0,490500.0,1929600.0,92325.0,1961.0,...,1012090049,1018100,0.0,3.0,D4,0,0,1,0,0
4,5035.0,21258.0,1.0,6.0,12.0,12.0,585000.0,1414350.0,15640.0,1905.0,...,1012090051,1018100,0.0,3.0,D4,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765021,781000.0,1264820.0,13.0,17.0,1934.0,1947.0,29880450.0,72655200.0,72655200.0,1950.0,...,1001110100,1002500,0.0,4.0,D6,0,0,1,0,0
765022,23058.0,77910.0,1.0,6.0,36.0,36.0,832500.0,3132900.0,3132900.0,1920.0,...,1003250001,1001002,0.0,2.0,C4,0,0,1,0,0
765023,1206975.0,2948300.0,20.0,14.0,2391.0,2391.0,32398200.0,107938800.0,107938800.0,1962.0,...,1003230001,1001002,0.0,3.0,D3,0,0,1,0,0
765024,693945.0,1658649.0,18.0,14.0,1861.0,1861.0,26999100.0,95624100.0,95624100.0,1950.0,...,1003560001,1002000,0.0,3.0,D3,0,0,1,0,0
765025,298550.0,1231250.0,3.0,2.0,839.0,842.0,8595450.0,39706200.0,1430276.0,1955.0,...,1003210001,1001001,0.0,3.0,D4,0,0,1,0,0

In [121]:
# define variables for model
bbl_all = df_bbl[["totpop", "popdens", "areasqmile", "males", "females","pop18under","pop18_34","pop35_64","pop65plus",
              "pophispanic","popnhwhite","popnhblack","popnhaian","popnhasian","popnhhawainpi","popnhother"
              ,"popnhtwoplus","housing","housingoccupied","renterhousing","oc_halfless","oc_half_1","oc_1_onehalf"
              ,"oc_onehalf_2","oc_2plus","roc_halfless","roc_half_1","roc_1_onehalf","roc_onehalf_2","roc_2plus"
              ,"medianyearbuilt","mediangrossrent","medianhhincome","gini","pct18under","pct18_34","pct35_64"
              ,"pct65plus","pcthispanic","pctnhwhite","pctnhblack","pctnhaian","pctnhasian","pctnhhawainpi"
              ,"pctnhother","pctnhtwoplus","pctownerocch","pctrentocch","crowding","crowdingrenter","pctmale"
              ,"pcthgas","pcthelectricity","pcthoilker",'pcthcoal','pcthsolar','pcthotherf','pcthnofuel'
              ,'pctsamehouse','pctmvdsamecounty','pctmvdsdiffcounty','pctmvdsdiffstate','pctmvdabroad'
              ,'pop1yrplusinhh','pctpoprenterhh','AL','NB','tot_hpd_vio','hpd_fire_vio','hpd_b_c_vio'
              ,'viol_count_per_unit','hpd_fire_vio_per_unit','hpd_b_c_vio_per_unit','average_energy_usage'
              ,'average_energy_usage_mi'
              #,'holc_AB','holc_CD','holc_D' binary columns
              ,'lotarea','bldgarea','numbldgs','numfloors'
              ,'unitsres','unitstotal','assessland','assesstot','exempttot','yearbuilt'
                     ,'vacate_ind'
                   #  ,'landuse_cat','bldgclass_cat' categorical
                    ]]

In [122]:
bbl_all

,totpop,popdens,areasqmile,males,females,pop18under,pop18_34,pop35_64,pop65plus,pophispanic,...,bldgarea,numbldgs,numfloors,unitsres,unitstotal,assessland,assesstot,exempttot,yearbuilt,vacate_ind
0,8496.0,158948.70,0.053451,4072.0,4424.0,1037.0,2010.0,3202.0,2247.0,1400.0,...,5555.0,1.0,4.0,6.0,6.0,345150.0,1317150.0,0.0,1899.0,0.0
1,8496.0,158948.70,0.053451,4072.0,4424.0,1037.0,2010.0,3202.0,2247.0,1400.0,...,6895.0,1.0,4.0,10.0,10.0,427500.0,1244700.0,0.0,1891.0,0.0
2,8496.0,158948.70,0.053451,4072.0,4424.0,1037.0,2010.0,3202.0,2247.0,1400.0,...,127289.0,1.0,17.0,69.0,69.0,2616300.0,12195900.0,136178.0,1930.0,0.0
3,8496.0,158948.70,0.053451,4072.0,4424.0,1037.0,2010.0,3202.0,2247.0,1400.0,...,20358.0,1.0,6.0,25.0,25.0,490500.0,1929600.0,92325.0,1961.0,0.0
4,8496.0,158948.70,0.053451,4072.0,4424.0,1037.0,2010.0,3202.0,2247.0,1400.0,...,21258.0,1.0,6.0,12.0,12.0,585000.0,1414350.0,15640.0,1905.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765021,5483.0,107977.70,0.050779,2335.0,3148.0,1075.0,1087.0,1803.0,1518.0,1699.0,...,1264820.0,13.0,17.0,1934.0,1947.0,29880450.0,72655200.0,72655200.0,1950.0,0.0
765022,5157.0,66888.52,0.077098,2367.0,2790.0,944.0,925.0,2092.0,1196.0,3303.0,...,77910.0,1.0,6.0,36.0,36.0,832500.0,3132900.0,3132900.0,1920.0,0.0
765023,5157.0,66888.52,0.077098,2367.0,2790.0,944.0,925.0,2092.0,1196.0,3303.0,...,2948300.0,20.0,14.0,2391.0,2391.0,32398200.0,107938800.0,107938800.0,1962.0,0.0
765024,4586.0,94058.32,0.048757,1675.0,2911.0,1090.0,926.0,1705.0,865.0,2561.0,...,1658649.0,18.0,14.0,1861.0,1861.0,26999100.0,95624100.0,95624100.0,1950.0,0.0
765025,1546.0,49962.21,0.030943,901.0,645.0,242.0,256.0,662.0,386.0,260.0,...,1231250.0,3.0,2.0,839.0,842.0,8595450.0,39706200.0,1430276.0,1955.0,0.0

In [123]:
#standardize the data
scaler = StandardScaler()
scaled_all = scaler.fit_transform(bbl_all)

In [124]:
range_n_clusters = range(2,5)


for n_clusters in range_n_clusters:
    clusterer = GaussianMixture(n_components=n_clusters, random_state=100)
    cluster_labels=clusterer.fit_predict(scaled_all)    
    silhouette_avg = silhouette_score(scaled_all, cluster_labels)
    print("For n_clusters = {},".format(n_clusters)+" the average silhouette_score is : {}".format(silhouette_avg))

For n_clusters = 2, the average silhouette_score is : 0.2822837371643053
For n_clusters = 3, the average silhouette_score is : 0.05388875174095907
For n_clusters = 4, the average silhouette_score is : 0.05462284793306562

In [128]:
gmm = GaussianMixture(n_components=4,random_state=100)
res = gmm.fit(scaled_all)

print('Probabilities of belonging to cluster 1:\n',res.predict_proba(scaled_all)[:,1])
print('\nCluster centers:\n',res.means_)
print('\nCluster covariances:\n',res.covariances_)
print('\nLog-likelihood per sample:',res.score(scaled_all))

Probabilities of belonging to cluster 1:
 [0. 0. 0. ... 0. 0. 0.]

Cluster centers:
 [[ 2.36732305e-01  6.61007756e-01 -2.99713827e-01  2.47044203e-01
   2.21506870e-01  2.07520621e-01  4.64963360e-01  1.43639941e-01
  -7.17171278e-02  3.56983115e-01 -4.36649440e-02  1.54784813e-01
  -7.66978458e-02 -6.30271608e-02 -1.09504494e-01 -6.20377093e-02
   1.29139607e-01  3.31012937e-01 -3.30076808e-01  6.54489773e-01
   1.76782181e-01  3.87326612e-01  3.50988041e-01  4.03701636e-01
   3.12616944e-01  6.00565527e-01  6.25990261e-01  3.95383133e-01
   4.15648196e-01  3.02495769e-01 -2.98129608e-01  5.38511082e-02
  -1.85357367e-01  4.03378914e-01  4.04267739e-03  5.38962559e-01
  -3.05905216e-01 -4.10811509e-01  2.91921440e-01 -1.29646196e-01
   5.29877718e-02 -8.82247271e-02 -1.71995901e-01 -9.76883415e-02
  -8.48218590e-02  4.93388349e-02 -7.15009982e-01  7.15009982e-01
   3.26614732e-01  1.70384838e-01  3.60230107e-02 -4.40678276e-01
   4.73169567e-01  2.29187764e-01  1.20371640e-03 -7.60559880e-02
   3.02774470e-01  3.30110587e-01 -6.96746585e-02 -5.26535698e-02
   8.55101730e-02  1.76997420e-01  9.82587618e-02  2.26898071e-01
   3.52833939e-01  1.25732069e-01  7.84272001e-02  7.19667763e-02
  -2.21775493e-02  2.71659145e-02  4.85180726e-01  5.15889014e-02
   3.26845817e-01 -4.35486175e-03  1.50535244e-01 -4.89225558e-02
  -1.94136133e-02 -5.95406919e-02  2.75590782e-01 -6.63996016e-03
  -3.01519465e-03  2.34546000e-02  1.79774603e-02 -2.14801698e-02
  -9.24443258e-02 -5.84416919e-02]
 [ 6.73199555e-01 -3.42335335e-01  6.38966784e-01  6.75956567e-01
   6.53804957e-01  5.88241886e-01  3.27641091e-01  7.22539902e-01
   6.95555105e-01  1.79842475e-01  5.85473975e-01 -4.58745765e-02
   2.01781345e-03  3.04165719e-01 -2.67253621e-02 -1.55013050e-01
   1.26075723e-01  5.19053529e-01  8.27018284e-01 -2.30828883e-02
   5.58914724e-01  4.05837442e-01  9.69868874e-02 -1.48253524e-02
   4.58520428e-02 -3.59807636e-02 -1.06680555e-02  4.12541374e-03
  -3.41151676e-02  4.74331696e-02  4.39736753e-01 -1.40158021e-01
   1.10860927e-01 -2.07281070e-01  4.02178485e-02 -3.17675486e-01
   1.54217792e-01  2.19225570e-01 -5.91994885e-02  3.15102942e-01
  -2.69286852e-01 -7.94212340e-02  4.58478734e-02 -7.14011819e-02
  -2.32862324e-01 -1.60377311e-01  3.68251069e-01 -3.68251069e-01
  -2.06809506e-01 -1.50306451e-01  2.01289653e-03  2.49251187e-01
  -2.02389027e-01 -1.76652956e-01 -2.78226199e-02  1.57525776e-01
  -1.48020075e-01 -1.69619913e-01  1.16647317e-02  9.66882319e-02
  -9.55604958e-02 -1.63094457e-02 -1.63309461e-01  6.79795024e-01
  -8.15988026e-02 -2.42935419e-02  4.92195793e-02 -1.41306740e-01
  -1.01613545e-01 -1.22259901e-01 -2.20986474e-01 -9.31250026e-02
  -1.61548610e-01 -4.35486175e-03  1.50535244e-01 -1.33875071e-02
  -8.90810942e-02 -3.10786389e-02 -2.51556530e-01 -7.63325504e-02
  -7.26427070e-02 -7.89255483e-02 -9.10417002e-02 -3.74406811e-02
   2.00973431e-01 -5.84416919e-02]
 [-6.86258642e-01 -2.13219345e-01 -2.86295671e-01 -6.83530489e-01
  -6.71470894e-01 -5.69697701e-01 -5.80778418e-01 -6.57805113e-01
  -5.27137088e-01 -3.68629065e-01 -4.17069947e-01 -8.99966856e-02
  -1.63097519e-02 -1.90547986e-01  4.91980215e-03  1.17221016e-01
  -2.06040915e-01 -6.50643156e-01 -4.04572566e-01 -4.64384514e-01
  -5.72741777e-01 -6.03450943e-01 -3.09353273e-01 -2.91546411e-01
  -2.30946077e-01 -4.19880302e-01 -4.52514653e-01 -2.82992176e-01
  -2.73736924e-01 -2.25379174e-01 -1.55547206e-01  6.45357239e-02
   2.15622841e-02 -1.22009682e-01  3.55433366e-03 -1.04654835e-01
   8.07932521e-02  5.59137055e-02 -1.27515992e-01 -1.48489768e-01
   1.59161844e-01  6.21945720e-02  7.39918935e-02  5.35999330e-02
   2.07825768e-01  8.03135323e-02  1.82643616e-01 -1.82643616e-01
  -3.10234253e-02  2.16041898e-02  9.16630547e-03  1.70735662e-01
  -2.15595541e-01 -6.46260058e-02  1.71824417e-02 -7.01758681e-02
  -1.30873150e-01 -1.33309316e-01  4.81388270e-02 -4.33067732e-02
   2.18257615e-02 -1.20954156e-01  3.47030430e-02 -6.80579145e-01
  -2.08224270e-01 -1.08077077e-01 -8.32687385e-02 -1.34152674e-01
  -1.01613545e-01 -1.22256363e-01 -1.91374996e-01 -9.31250026e-02
  -1.61530734e-01 -4.35486175e-03  1.50535244e-01 -3.96453453e-02
  -8.80491017e-02  2.28663290e-02 -1.92909373e-01 -7.32001267e-02
  -6.90908319e-02 -7.61398699e-02 -8.81652849e-02 -3.74524978e-02
  -3.63290611e-02 -5.84416919e-02]
 [ 8.98983878e-01  1.22926661e+00 -1.81532024e-01  8.25640872e-01
   9.42383059e-01  5.45723262e-01  1.15387723e+00  7.32144422e-01
   6.08183600e-01  6.67675593e-01  2.41540562e-01  4.16929222e-01
   3.90094243e-01  6.13829906e-02  4.96161910e-01  1.43095842e-01
   4.82216553e-01  1.13003517e+00 -1.70357805e-01  1.48787365e+00
   8.40087520e-01  1.17885093e+00  6.74650985e-01  9.61448111e-01
   4.70323441e-01  1.39717755e+00  1.42654882e+00  8.18922997e-01
   8.83990118e-01  4.53380946e-01 -1.28076814e-01  6.82105663e-02
  -1.23409546e-01  6.76938244e-01 -2.63654928e-01  6.65739055e-01
  -4.03987902e-01 -1.92324967e-01  3.01451688e-01 -9.59825827e-02
   3.12158973e-02  2.56466432e-01 -2.28897024e-01  3.14045511e-01
  -6.62832857e-02  7.03169865e-02 -9.37952886e-01  9.37952886e-01
   2.25233078e-01  5.12086281e-02 -2.11435275e-01 -1.16174281e+00
   1.14447924e+00  6.71166860e-01  1.25169030e-02 -4.02833540e-02
   7.77991100e-01  8.19165309e-01 -1.98734529e-01 -1.70860118e-03
   4.93075830e-02  4.21012166e-01  2.74568791e-01  8.52558998e-01
   8.48454316e-01  5.44579086e-01  1.11393461e-01  1.58531091e+00
   1.44286145e+00  1.54509869e+00  1.01216453e+00  1.06738631e+00
   1.01006877e+00  7.39058044e-02 -2.55471446e+00  5.61319486e-01
   1.25662463e+00  2.00710102e-01  1.93544344e+00  1.02353155e+00
   9.57817396e-01  9.54404754e-01  1.13577115e+00  5.78912986e-01
  -4.89396930e-01  9.91806512e-01]]

Cluster covariances:
 [[[ 1.08449174e+00  4.56545988e-01  1.18800193e-01 ...  5.17625157e-04
    1.80773738e-02 -2.07252312e-29]
  [ 4.56545988e-01  1.13445627e+00 -1.78680460e-01 ...  7.72768484e-03
   -1.44079747e-01 -5.98633743e-29]
  [ 1.18800193e-01 -1.78680460e-01  1.01759269e-01 ... -1.77805924e-03
    4.48713737e-02  2.67094276e-29]
  ...
  [ 5.17625157e-04  7.72768484e-03 -1.77805924e-03 ...  7.07538263e-03
    8.00195753e-03  1.78308177e-30]
  [ 1.80773738e-02 -1.44079747e-01  4.48713737e-02 ...  8.00195753e-03
    2.76932360e-01  7.81478241e-30]
  [-2.07252312e-29 -5.98633743e-29  2.67094276e-29 ...  1.78441992e-30
    7.81478241e-30  1.00000000e-06]]

 [[ 5.58362398e-01 -2.85012137e-02  2.83009221e-01 ... -7.51591501e-05
    5.24796847e-02 -3.68812308e-29]
  [-2.85012137e-02  8.30351648e-01 -7.04293849e-01 ...  1.20306608e-04
   -1.74800774e-01  2.04015753e-29]
  [ 2.83009221e-01 -7.04293849e-01  2.35489334e+00 ... -1.54707726e-04
    2.35153040e-01 -3.95332285e-29]
  ...
  [-7.51591501e-05  1.20306608e-04 -1.54707726e-04 ...  3.52075157e-05
   -1.96146804e-06  2.32753457e-30]
  [ 5.24796847e-02 -1.74800774e-01  2.35153040e-01 ... -1.96146804e-06
    1.97824811e-01 -1.24231514e-29]
  [-3.68398203e-29  2.03463613e-29 -3.95332285e-29 ...  2.32753457e-30
   -1.24300532e-29  1.00000000e-06]]

 [[ 1.82454720e-01  9.73833273e-02  2.40464247e-02 ... -1.46349411e-05
   -6.59609238e-03  2.51047376e-31]
  [ 9.73833273e-02  3.35799450e-01 -1.03297750e-01 ...  4.22611141e-05
   -5.36274073e-02  8.30341439e-32]
  [ 2.40464247e-02 -1.03297750e-01  7.65831420e-02 ... -1.96714554e-05
    2.03522196e-02  1.16584426e-31]
  ...
  [-1.46349411e-05  4.22611141e-05 -1.96714554e-05 ...  4.18618223e-05
    8.04053965e-05  1.13166748e-32]
  [-6.59609238e-03 -5.36274073e-02  2.03522196e-02 ...  8.04053965e-05
    1.36814404e-01  1.78037173e-32]
  [ 2.49850487e-31  8.06403668e-32  1.16584426e-31 ...  1.13166748e-32
    1.78037173e-32  1.00000000e-06]]

 [[ 2.37753089e+00  1.32460943e+00  1.16658407e-01 ...  3.78947267e-02
    3.54833369e-01 -3.16040275e-01]
  [ 1.32460943e+00  2.65647360e+00 -5.32694859e-01 ... -7.20879299e-02
    4.71744933e-01  2.95215554e-01]
  [ 1.16658407e-01 -5.32694859e-01  8.07927774e-01 ... -3.95084610e-02
   -8.24191398e-02 -2.14938127e-01]
  ...
  [ 3.78947267e-02 -7.20879299e-02 -3.95084610e-02 ...  1.75896790e+01
    4.07812358e-01  1.24780245e-01]
  [ 3.54833369e-01  4.71744933e-01 -8.24191398e-02 ...  4.07812358e-01
    1.43144526e+01  3.13738467e-01]
  [-3.16040275e-01  2.95215554e-01 -2.14938127e-01 ...  1.24780245e-01
    3.13738467e-01  1.69292307e+01]]]

Log-likelihood per sample: 88.60554331584412